{% extends 'base.html.twig' %}
{% block body %}

    {% if app.user %}
        <h4 class="bg-info text-center pt-2 pb-2 text-white">UPDATE A POST</h4>
        <div class="page-content page-container mx-auto mt-4" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center mx-auto">
                    <div class="col-md-6 bg-white rounded">
                        <div class="box box-widget w-100 bg-white">
                            {{ form_start(form) }}
                            <div class="box-header with-border">
                                <div class="user-block mt-2">
                                    <img class="img-circle rounded-circle img-fluid" src="{{ app.user.profileImg }}"
                                         style="width: 50px; height: 50px"
                                         alt="User Image"> <span class="username"><a href="#" data-abc="true">
                                        {{ app.user.name }}
                                    </a></span> <span class="description">
                                </span></div>
                                <div class="box-tools d-flex justify-content-end mb-3">
                                    <a href="{{ path('neon_home') }}" class="btn btn-success ml-1 mr-1 text-white">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_widget(form.description,{
                                    'attr':{
                                        'class':'form-control',
                                        'placeholder': 'Change your status'
                                    }
                                }) }}
                                <div class="mt-3">
                                    <p class="text-primary">Edit your picture below</p>
                                </div>
                                {{ form_widget(form.imgPath,{
                                    'attr':{
                                        'class':'form-control',
                                        'placeholder': 'edit your picture'
                                    }
                                }) }}
                                <div class="w-100">
                                    <p class="text-warning">current your picture</p>
                                    <img class="w-100 overflow-hidden" src="{{ post.imgPath }}"
                                         alt="old image was posted">
                                </div>
                                <div class="form-group">
                                    <label for="User">User:</label>
                                    {{ form_widget(form.tag,{
                                        'attr':{
                                            'class':'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="box-footer mt-4 mb-4">
                                <input type="submit" name="update_post" value="UPDATE" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    {% endif %}
{% endblock %}

