{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('neon_news', {'id': new.id }) }}" class="btn btn-default">Back to News List</a>
    <hr/>
    <h2 class="page-header">{{ new.Title }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Title: {{ new.Title }}</li>
        <li class="list-group-item">Img path {{ new.imgpath }}</li>
        <li class="list-group-item">Tag: {{ new.tag }}</li>
        <li class="list-group-item">Description: {{ new.description }}</li>
        <span class="ml-3"><strong># {{ new.tag.name }}</strong></span>
        <li class="list-group-item">Create: <strong>{{ new.createat|date('F j,Y, g:i a') }}</strong></li>
    </ul>
{% endblock %}
