{% extends 'base.html.twig' %}

{% block title %}News detail{% endblock %}

{% block body %}
    <!--Section: News of the day-->
   <div>
       <div>
           <a class="btn btn-primary" href="{{ path('news_create') }}">
               + Create News
           </a>
       </div>
       {% for new in news  %}
           <div class="row gx-5">
               <div class="col-md-6 mb-4">
                   <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                       <img src="{{ new.imgPath }}" class="img-fluid" />
                       <a href="#!">
                           <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                       </a>
                   </div>
               </div>

               <div class="col-md-6 mb-4">
                   <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                   <h4><strong>{{ new.title }}</strong></h4>
                   <p class="text-muted">
                      {{ new.description }}
                   </p>
                   <a class="btn btn-info" href="{{ path('detail_news',{'id': new.id}) }}">Detail</a>
               </div>
           </div>
       {% endfor %}
   </div>

    <!--Section: News of the day-->
{% endblock %}